*{
  background: #E5E5E5;
  margin: 0px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #BCC8E7 transparent;
}

/* Targtes on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #BCC8E7;
  border-radius: 20px;
  /* border: 3px solid transparent; */
}

/* ANTD OVERRIDES */
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background: #BC0000 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #BCC8E7 !important;
}

.ant-picker-panel .ant-picker-footer {
  display: none;
}

.ant-radio-checked .ant-radio-inner{
  border-color: #BC0001 !important;
}

.ant-radio-checked .ant-radio-inner:after{
  background-color: #BC0001;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #BC0001;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #BC0001 !important;
  border-color: #BC0001 !important;
}