/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */

@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
  font-weight: 700;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #E5E5E5;
  box-sizing: border-box;
  color: #18191A;
  font-size: 13px;
  font-family: "Poppins";
}

* {
  scrollbar-width: thin;
  scrollbar-color: #BCC8E7 transparent;
}

/* Targtes on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #BCC8E7;
  border-radius: 20px;
  /* border: 3px solid transparent; */
}


/* :root {
  --primary-medium: #004d6e;
  --primary-soft: #06719f;
  --primary-ultrasoft: #0387c0;
  --secondary-medium: #99cc00;
  --secondary-soft: #f3ffcf;
  --gray-medium: #b0bfd3;
  --gray-soft: #e5edf8;
  --gray-ultrasoft: #f7faff;
  --dark: #364449;
  --white: #ffffff;
  --blue-medium: #7abfff;
  --blue-soft: #e9f4ff;
  --blue-hard: #137ee1;
  --red-medium: #ff8970;
  --red-soft: #ffccc1;
  --red-hard: #cd3311;
  --yellow-medium: #ffd15c;
  --yellow-soft: #ffefc7;
  --yellow-hard: #ed9c00;
} */